// ----------------RESET ZONE-------------------- //

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  background-color: #f1f2f4;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

// --------------------------------------- //






@font-face {
    font-family: space_age;
    src: url('../assets/fonts/space_age.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: space_age;
    background-color: black;
    color: orange;
    padding: 5px;
}

a {
    display: inline-block;
    font-size: 20px;
    height: 10px;
    padding: 10px;
    padding-bottom: 25px;
    margin: 10px;
}

.link-bar img {
    max-height: 30px;
}

h1 {
    font-size: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    width:100%;
    flex-wrap: wrap;
    align-content: center;
}

header > div {
    min-width: 250px;
}

header img {
    height: 50px;
}

.main-button {
    display: inline-block;
    border: 2px solid orange;
    border-radius: 8px;
    background-color: rgb(16, 15, 15);
    text-decoration: none;
    color: orange;
    padding: 10px;
}

#start-menu {

}

#game-canvas {
    background-image: url('../assets/imagery/blue_sky.webp');
    display: none;
    width: 100%;
    height: auto;
}

// .display {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     max-width: 100%;
//     max-height: 100%;
//     min-height: 400px;
//     border: 2px solid orange;
//     border-radius: 8px;
// }

.canvas-container {
    background-image: url("../assets/imagery/start_screen_crop.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    min-width: 320px;
    min-height: 600px;
    margin: 0 auto;
    border: 6px solid orange;
    border-radius: 3px;
    overflow: hidden;
 }

